<div id="statH1" class="row text-center">
    <div class="col-md-12">
        <h1 class="negMgBtn10">Total Projects:</h1><br/>
        <span>{{ totalProjects }}</span>
        
    </div>    
</div>
<div id="statH2" class="row text-center mgBt15">
    <div class="col-md-6">
        <h3 class="negMgBtn10">Total Spent:</h3><br/>
        <span>{{ budgetSum | currency: 'USD':true:'1.2-2' }}</span>
    </div>
    <div class="col-md-6">
        <h3 class="negMgBtn10">Avg. Budget/Project:</h3><br/>
        <span>{{ avgBudget | currency: 'USD':true:'1.2-2' }}</span>
    </div>
</div>
<div class="row mgTp15">
    <div class="col-md-4">
        <h3>By Owner</h3>
        <pd-table [statsTable]="true" [keys]="['option', 'count']" 
            [values]="projOwners"></pd-table>
        
    </div>
    <div class="col-md-4">
        <h3>By Status</h3>
        <pd-table [statsTable]="true" [keys]="['option', 'count']" 
            [values]="projStatus"></pd-table>
        
    </div>
    <div class="col-md-4 mgBt15">
        <h3>By Division</h3>
        <pd-table [statsTable]="true" [keys]="['option', 'count']"
            [values]="projDivision"></pd-table>
    </div>
    <pd-export></pd-export>
</div>
