<div class="row">
    <div *ngIf="allProjects === undefined; else getStarted" class="col-md-12">
        Loading...
    </div>
    <ng-template #getStarted>
        <div class="col-md-4">
            <pd-search (notifyTable)="handleResults($event)" 
                [projects]="allProjects"
                [dropdowns]="options"
                [urlParams]="queryString"></pd-search>
        </div>
        <div *ngIf="showResultsTable" class="col-md-4">
            <pd-table id="searchResults" #resultsTable [headers]="['Title', 'Owner']" [keys]="['title', 'project_owner']" 
                (notifyDetails)="handleProjSelect($event)"
                [values]="tableValues"></pd-table>
        </div>
        <div *ngIf="showProjDetails" class="col-md-4">
            <pd-details [projects]="allProjects" [project]="projDetails"></pd-details>
        </div>
        <div *ngIf="showStatsDash" class="col-md-8">
            <pd-stats></pd-stats>
        </div>
        <div *ngIf="showZeroResults" class="col-md-8">
            <div id="noResultsFound" class="text-center">
                0<br/> Results
            </div>
        </div>
    </ng-template>
</div>